@model IEnumerable<agenda_de_Tarefa.Models.Tarefa> //Lista de contatos carregada do ContatoController.cs 
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
@{
    ViewData["Title"] = "Lista de Tarefas";
}

<div class="sub-header">

<h2 class="tarefas">Tarefas</h2>

<p>
    <a asp-action="Criar"><button class="btn btn-primary" >Criar Tarefa</button></a>
</p>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model=>model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Status)
            </th>
                <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Descricao)
                </td> 
                <td>
                    @Html.DisplayFor(model => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Status)
                </td>
                <td class="icons">
                    <a asp-action="Editar"   asp-route-id="@item.Id"><span title="Editar" class="material-symbols-outlined icon">edit</span></a> 
                    <a asp-action="Detalhes" asp-route-id="@item.Id"><span title="Detalhes" class="material-symbols-outlined icon">description</span></a> 
                    <a asp-action="Deletar"  asp-route-id="@item.Id"><span title="Deletar" class="material-symbols-outlined">delete</span></a>
                </td> 
            </tr>

        }
    </tbody>


</table>